{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block conteudo %}
<h1 style="margin-top: 20px;">Dashboard</h1>
<script>
  const CHART_COLORS = {
    red: 'rgb(255, 99, 132)',
    orange: 'rgb(255, 159, 64)',
    yellow: 'rgb(255, 205, 86)',
    green: 'rgb(75, 192, 192)',
    blue: 'rgb(54, 162, 235)',
    purple: 'rgb(153, 102, 255)',
    grey: 'rgb(201, 203, 207)'
  };

  $(document).ready(function() {
      var ctx = $("#chart-bar");
      var myLineChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: {{ estab_agendas_labels|safe }},
              datasets: [{
                  data: {{ estab_agendas_values|safe }},
                  label: "Agendamentos",
                  borderColor: 'rgb(54, 162, 235)',
                  backgroundColor: 'rgba(54, 162, 235, 0.5)'
              }]
          },
          options: {
              title: {
                  display: true,
                  text: 'World population per region (in millions)'
              }
          }
      });
  });

  $(document).ready(function() {
      var ctx = $("#chart-pie");
      var myLineChart = new Chart(ctx, {
          type: 'pie',
          data: {
              labels: {{ agendas_semana_labels|safe }},
              datasets: [{
                  data: {{ agendas_semana_values|safe }},
                  label: "Agendamentos",
                  backgroundColor: Object.values(CHART_COLORS)
              }]
          },
          options: {
              title: {
                  display: true,
                  text: 'World population per region (in millions)'
              }
          }
      });
  });
</script>
<div class="page-content page-container" id="page-content">
  <div class="padding">
      <div class="row">
          <div class="container-fluid d-flex justify-content-center">
              <div class="col-sm-8 col-md-6">
                  <div class="card">
                      <div class="card-header">Agendamento por Estabelecimentos</div>
                      <div class="card-body">
                          <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                              <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                  <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                              </div>
                              <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                  <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                              </div>
                          </div> <canvas id="chart-bar" width="299" height="200" class="chartjs-render-monitor" style="display: block; width: 299px; height: 200px;"></canvas>
                      </div>
                  </div>
                  <br>
                  <div class="card">
                    <div class="card-header">Agendamento por dia da semana</div>
                    <div class="card-body">
                        <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                            <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                            </div>
                            <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                            </div>
                        </div> <canvas id="chart-pie" width="299" height="200" class="chartjs-render-monitor" style="display: block; width: 299px; height: 200px;"></canvas>
                    </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}