{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block conteudo %}
<div class="card text-center">
    <div class="card-header">
      Agendamento para a vacinação contra Covid-19
    </div>
    <div class="card-body">
      <h5 class="card-title">Bem vindo</h5>
      <p class="card-text">Cadastre-se para agendar seu dia e horário para a vacinação contra a Covid-19, caso já tenha cadastro clique em Entrar.</p>
      <a href="/cidadao/entrar" class="btn btn-primary">Entrar</a>
      <a href="/cidadao/cadastre-se" class="btn btn-primary">Cadastre-se</a>
    </div>
    <div class="card-footer text-muted">
      Feito por Arthur Furtunato
    </div>
  </div>
{% endblock %}